body{
    padding: 0;
    margin: 5px;
}
div{
    display:block;
}
h2{
    text-align: center;
    font-family: fantasy;
    border-bottom: 10px dotted blue;
}
button{
    padding: 1%;
}
.modal{
    display: none;
    border: 1px solid ;
    font-size: 20px;
    width: 50%;
    height: 15%;
    background-color:red;
}
.modal-show{
    display: block;
    border: 1px solid ;
    font-size: 20px;
    width: 50%;
    height: 15%;
    background-color:red;
}